// mixinをインポート
@use "../tools/mixin" as mix;

body {
  font-family: "BIZ UDGothic", serif;
}

// テキストの最大幅
p, h1, h2, h3, h4, h5, h6, ul, ol {
  max-inline-size: var(--max-inline-size);
  margin-block: var(--leading-trim);
}

// 見出し
h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
  word-break: auto-phrase;
}

h1 {
  color: var(--color-text-high);

  // 24px 〜 32px
  @include mix.responsive-font-size(var(--font-size-2xl), var(--font-size-3xl));

  line-height: 1.5;
}

h2 {
  color: var(--color-text-high);

  // 20px 〜 24px
  @include mix.responsive-font-size(var(--font-size-xl), var(--font-size-2xl));

  font-weight: bold;
  line-height: 1.5;
}

h3 {
  color: var(--color-text-middle);

  // 18px 〜 20px
  @include mix.responsive-font-size(var(--font-size-l), var(--font-size-xl));

  font-weight: bold;
  line-height: 1.5;

}

h4 {
  color: var(--color-text-middle);

  // 16px 〜 18px
  @include mix.responsive-font-size(var(--font-size-m), var(--font-size-l));

  line-height: 1.5;
}

// テキスト
p {
  color: var(--color-text-low);
  font-size: var(--font-size-m);
  line-height: 1.7;
}

// リスト
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}


