body {
  font-family: "BIZ UDGothic", serif;
}

// テキストの最大幅
p, h1, h2, h3, h4, h5, h6, ul, ol {
  max-inline-size: var(--max-inline-size);
  margin-block: var(--leading-trim);
}

// 見出し
h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
  word-break: auto-phrase;
}

h1 {
  // 24px 〜 32px
  font-size: clamp(var(--font-size-2xl), calc(var(--font-size-2xl) + 1vw), var(--font-size-3xl));
  line-height: 1.5;
}

h2 {
  // 20px 〜 24px
  font-size: clamp(var(--font-size-xl), calc(var(--font-size-xl) + 1vw), var(--font-size-2xl));
    font-weight: bold;
  line-height: 1.5;
}

h3 {
  // 18px 〜 20px
  font-size: clamp(var(--font-size-l), calc(var(--font-size-l) + 1vw), var(--font-size-xl));
  font-weight: bold;
  line-height: 1.5;

}

h4 {
  // 16px 〜 18px
  font-size: clamp(var(--font-size-m), calc(var(--font-size-m) + 1vw), var(--font-size-l));
  line-height: 1.5;
}

// テキスト
p {
  font-size: var(--font-size-m);
  line-height: 1.7;
}

// リスト
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}


