---
import GridStack from "@components/elements/GridStack.astro";
import Input from "@components/elements/Input.astro";
import Link from "@components/elements/Link.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout pageTitle="Home">
  <GridStack gap="2">
    <Link href="/" gap="2">
      <span>Link</span>
    </Link>
    <Link href="/" withIcon>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 10L15 15"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M15 10L10 15"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <span>Link</span>
    </Link>
  </GridStack>
  <Input
    type="in"
    inputType="search"
    inputId="search"
    inputPlaceholder="テストコンポーネント"
    buttonType="submit"
    buttonAriaLabel="Search"
  />
</Layout>
