---
import Box from "@elements/Box.astro";
import Center from "@elements/Center.astro";
import Cluster from "@elements/Cluster.astro";
import Cover from "@elements/Cover.astro";
import Sidebar from "@elements/Sidebar.astro";
import Stack from "@elements/Stack.astro";
import Switcher from "@elements/Switcher.astro";
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro";
---

<Layout pageTitle="Test">
  <Button href="/" variant="primary" size="small"> ボタン </Button>
</Layout>
