---
import Button from "@components/Button.astro";
import Box from "@elements/Box.astro";
import Center from "@elements/Center.astro";
import Cluster from "@elements/Cluster.astro";
import Cover from "@elements/Cover.astro";
import Sidebar from "@elements/Sidebar.astro";
import Stack from "@elements/Stack.astro";
import Switcher from "@elements/Switcher.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout pageTitle="Test">
  <Center>
    <Stack gap="4">
      <h1>見出し1 - レスポンシブフォントテスト</h1>
      <h2>見出し2 - レスポンシブフォントテスト</h2>
      <h3>見出し3 - レスポンシブフォントテスト</h3>

      <p>
        これは段落テキストです。レスポンシブフォントが正しく適用されているかテストします。
      </p>

      <Button href="/" variant="primary" size="small">小さいボタン</Button>
      <Button href="/" variant="secondary" size="medium"
        >中くらいのボタン</Button
      >
      <Button href="/" variant="tertiary" size="large">大きいボタン</Button>
    </Stack>
  </Center>
</Layout>
