---
import Layout from "@layouts/Layout.astro";
import Box from "@elements/Box.astro";
import Stack from "@elements/Stack.astro";
import Center from "@elements/Center.astro";
import Sidebar from "@elements/Sidebar.astro";
import Cluster from "@elements/Cluster.astro";
import Switcher from "@elements/Switcher.astro";
---

<Layout pageTitle="Test">
  <Center>
    <Sidebar gap="3" side="left" min="30%" width="20rem">
      <Box padding="1" surface="tertiary">
        <Stack gap="2">
          <h1>ヘッドライン</h1>
          <p>テキスト</p>
          <Stack gap="4">
            <p>テキスト</p>
            <p>テキスト</p>
          </Stack>
        </Stack>
      </Box>
      <Box padding="1" surface="tertiary">
        <Stack gap="2">
          <h2>サイドバー</h2>
          <p>テキスト</p>
        </Stack>
      </Box>
    </Sidebar>
    <Cluster gap="3 6" align="center" justify="between" content="start">
      <Box padding="1" surface="tertiary">
        <Stack gap="2">
          <h1>ヘッドライン</h1>
          <p>テキスト</p>
        </Stack>
      </Box>
      <Box padding="1" surface="tertiary">
        <Stack gap="2">
          <h1>ヘッドライン</h1>
          <p>テキスト</p>
        </Stack>
      </Box>
    </Cluster>
    <Switcher threshold="30rem">
      <Box padding="1" surface="tertiary">
        <h1>ヘッドライン</h1>
      </Box>
      <Box padding="1" surface="tertiary">
        <h1>ヘッドライン</h1>
      </Box>
      <Box padding="1" surface="tertiary">
        <h1>ヘッドライン</h1>
      </Box>
    </Switcher>
  </Center>
</Layout>