---
import Button from "@components/Button.astro";
import GridStack from "./elements/GridStack.astro";
---

<header class="header">
  <div class="logo">
    <svg width="44" height="44">
      <circle cx="22" cy="22" r="20" stroke="black" stroke-width="4" fill="red"
      ></circle>
    </svg>
  </div>
  <div class="title">
    <h1>Astro Template</h1>
  </div>
  <GridStack horizontal>
    <Button href="/" variant="tertiary" size="small" type="vertical">
      <svg width="24" height="24">
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="black"
          stroke-width="4"
          fill="red"></circle>
      </svg>
      Home
    </Button>
    <Button href="/about" variant="tertiary" size="small" type="vertical">
      <svg width="24" height="24">
        <circle
          cx="12"
          cy="12"
          r="10"
          stroke="black"
          stroke-width="4"
          fill="red"></circle>
      </svg>
      About</Button
    >
  </GridStack>
</header>

<style lang="scss">
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: var(--space-xs);
    align-items: center;
    padding: var(--space-m) var(--space-xl);
  }
</style>
