// 変数の読み込み
:root {
	--color-primary: $primary-100;
	--color-text-high: $gray-high;
	--color-text-middle: $gray-middle;
	--color-text-low: $gray-low;
	--color-text-disabled: $gray-disabled;
	--color-background-high: $white-high;
	--color-background-middle: $white-middle;
	--color-background-low: $white-low;
}

$primary-100: rgb(0 0 255 / 1);


$gray-high: rgb(0 0 0 / 0.87);
$gray-middle: rgb(0 0 0 / 0.65);
$gray-low: rgb(0 0 0 / 0.56);
$gray-disabled: rgb(0 0 0 / 0.26);

$white-high: rgb(255 255 255 / 1);
$white-middle: rgb(255 255 255 / 0.91);
$white-low: rgb(255 255 255 / 0.71);
$white-disabled: rgb(255 255 255 / 0.26);

