---
interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
const siteTitle = "My Astro Site";
---
<!-- フォントの読み込み -->
<!-- preconnectの指定 -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- フォントのスタイルシートを可能な限り事前に読み込む -->
<link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap" />
<!-- フォントが読み込まれるのを待ってからWebページに適応させる -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap" media="print" onload='this.media="all"' />


<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{pageTitle} | {siteTitle}</title>